html, body {
  height:100%;
}
body {
    margin: 0;
}


/*top nav*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }
nav.menu {
    padding-right: 20px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    align-items: flex-start;
    background: none;
  }
  nav.menu ul li {
    display: inline-block;

  }

  nav.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

  .navItem {
    width: 100%;
    text-align: center;
    display: none;
    padding: 10px;
    position: relative;
    display: block;
    width: auto;
  }
  .navItemLeft {
    border: 1px solid red;
    margin-right: auto;
    width: 100%;
    text-align: center;
    display: none;
    padding: 10px;
    padding-left: 10px;
    position: relative;
    display: block;
    width: auto;
  }

/*bottom nav*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
  }
nav.menu-bot {
    height: auto;
    width: 100%;
    padding: 0px;
    border: 1px solid pink;
    padding-right: 20px;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    align-items: flex-end;
    background: none;
  }
  nav.menu-bot ul li {
    border: 1px solid pink;
    display: inline-block;

  }

  nav.menu-bot ul{
    border: 1px solid pink;
    margin: 0;
    padding: 0;
    list-style: none;
}

  .navItemBot {
    border: 1px solid pink;
    width: 100%;
    text-align: center;
    display: none;
    padding: 10px;
    position: relative;
    display: block;
    width: auto;
  }
  .navItemLeftBot {
    border: 1px solid pink;
    margin-right: auto;
    width: 100%;
    text-align: center;
    display: none;
    padding: 10px;
    padding-left: 10px;
    position: relative;
    display: block;
    width: auto;
  }



/*content*/
  .flex-container {
    border: 1px solid green;
    height: 100vh;

    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.centerContent{
  width:100%;
  border: 2px solid black;
}
.containsSearchButtons {
  width:100%;

    text-align: center;
    
    border: 1px solid blue;
    
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.containsLogo {
  height: 25vh;
  width:100%;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-form {
    text-align: center;
  }
  
  .search-box {
    width: 33%;  
    padding: .4rem;
    background-color: rgb(248, 248, 248);
  }

.containsSearchBar {
  width:100%;
    border: 1px solid red;
    
}

.BUTTON_LCU {
    border-style: solid;
    border-color: #F1F3F5;
    height: 35px;
    line-height: 25px;
    color: dimgray;
    font-family: Open Arial, Helvetica, sans-serif;
    width: 125px;
    font-size: 12px;
    padding: 0px;
    background-color: #F1F3F5;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_LCU:hover {
    color:black;
    background: #F1F3F5;
    border: solid #A7A7A7 1px;
    border-radius: 0px;
    text-decoration: none;
 }